
<nav>
  
  <div class="w-full h-[30px] bg-[#D12B2B] flex items-center justify-center">
    <p class="font-medium text-white text-xs tracking-wide">
      Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! 
      <a href="#" class="underline font-bold ml-1 hover:text-gray-200">Shop Now</a>
    </p>
  </div>

  
  <div class="w-full h-[60px] flex items-center justify-between px-16 border-b border-gray-200 bg-white">
    
    
    <div class="flex items-center space-x-8">
     
      <h1 class="font-bold text-xl text-black select-none">E-commerce</h1>
      
      
      <ul class="flex items-center space-x-5">
        <li><a class="text-sm font-medium text-black hover:underline" href="#">Home</a></li>
        <li><a class="text-sm font-medium text-black hover:underline" href="#">Contact</a></li>
        <li><a class="text-sm font-medium text-black hover:underline" href="#">About</a></li>
        <li><a class="text-sm font-medium text-black hover:underline" href="#">Sign up</a></li>
      </ul>

     
      <button type="button" class="px-4 py-1.5 bg-[#D12B2B] text-white text-sm font-medium rounded-md hover:bg-red-700 cursor-pointer transition-all">
        Shop
      </button>
    </div>

    
    <div class="flex items-center space-x-3">
     
      <div class="flex items-center bg-[#F5F5F5] rounded-md px-3 py-1.5 w-64">
        <input type="text" placeholder="What are you looking for?" class="bg-transparent outline-none text-xs text-gray-600 w-full placeholder-gray-400">
      </div>
      
      
      <button type="button" class="px-4 py-1.5 bg-[#4A57E9] text-white text-sm font-medium rounded-md hover:bg-blue-700 cursor-pointer transition-all">
        Search
      </button>
      
     
      <button type="button" class="px-4 py-1.5 bg-[#59C966] text-white text-sm font-medium rounded-md hover:bg-green-600 cursor-pointer transition-all">
        Sing in
      </button>
    </div>

  </div>
</nav>
  