<footer>
 <div class='w-full h-[350px] bg-red-500'>

  <div class='w-full h-[80%]  flex items-center justify-center'>
   <ul class='w-[80%] h-[80%] flex items-stretch gap-4'>
    <li class='w-[20%] h-full   space-y-4 p-6'>
     <h2 class='text-white font-bold text-xl'>Exclusive</h2>
     <p class='text-white'>Subscribe</p>
     <p class='text-white'>Get 10% off your first order</p>
     <input type="text" placeholder='Enter your email' class='w-[80%] px-2 py-1 border border-white' />
    </li>
    <li class='w-[20%] h-full   space-y-4 p-6'>
     <h2 class='text-white font-bold text-xl'>Support</h2>
     <p class='text-white'>111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
     <p class='text-white'>
       nadir.karimzade@gmail.com
     </p>
     <p class='text-white'>
        +994 050 888 06
     </p>
    </li>
    <li class='w-[20%] h-full   space-y-4 p-6'>
     <h2 class='text-white font-bold text-xl'>Account</h2>
     <p class='text-white'>My Account</p>
     <p class='text-white'>Login / Register</p>
     <p class='text-white'>Cart</p>
     <p class='text-white'>Wishlist</p>
     <p class='text-white'>Shop</p>
    </li>
    <li class='w-[20%] h-full   space-y-4 p-6'>
        <h2 class='text-white font-bold text-xl'>Quick Link</h2>
  <p class='text-white'>Privacy Policy</p>
  <p class='text-white'>Terms Of Use</p>
  <p class='text-white'>FAQ</p>
  <p class='text-white'>Contact</p>
    </li>
    <li class='w-[20%] h-full  flex flex-col justify-between p-6'>
        <div>
          <h2 class='text-white font-bold text-xl'>Download App</h2>
          <p class='text-white'>Save $3 with App New User Only</p>
        </div>
       
    </li>
   </ul>
  </div>
   <div class='w-full h-[20%]  flex items-center justify-center border-t-2 border-gray-300'>
     <p class='text-white font-medium'>Copyright Rimel 2022. All right reserved</p>
   </div>

 </div>
</footer>