<footer>    
    <div class="w-full h-[350px] bg-red-500">


        <div class="w-full h-[80%] bg-blue-300">
            <ul class="w-[80%] h-[80] flex ">  
                <li class="w-[20%] h-full bg-red-300"></li>
                <li class="w-[20%] h-full bg-red-300"></li>
                <li class="w-[20%] h-full bg-red-300"></li>
                <li class="w-[20%] h-full bg-red-300"></li>
                <li class="w-[20%] h-full bg-red-300"></li>

            </ul>
        </div>


        <div class="w-full h-[20%] bg-orange-300 flex items-center justify-center 
         border-t-2 border-gray-300">
            <p  class="text-white font-medium">Copyright Rimel 2022. All right reserved</p>
        </div>

    </div> 
</footer>